In [1]:
import pandas as pd

## Read in the Data

In [25]:
acb = pd.read_csv('ligaacb-2324.csv')
euro = pd.read_csv('eurocup-2324.csv')

acb = acb[['Date', 'Team', 'PTS', 'Opp', 'PTS.1']]
euro = euro[['Date', 'Team', 'PTS', 'Opp', 'PTS.1']]
acb = acb.rename(columns={'PTS.1': 'PTS_Opp'})
euro = euro.rename(columns={'PTS.1': 'PTS_Opp'})

acb

                Date                    Team    PTS               Opp  PTS_Opp
0    Sat Sep 23 2023             UCAM Murcia  104.0   Covirán Granada    101.0
1    Sat Sep 23 2023         Zunder Palencia   64.0  Monbus Obradoiro     84.0
2    Sat Sep 23 2023         Lenovo Tenerife   75.0           Unicaja     98.0
3    Sat Sep 23 2023          Bàsquet Girona   89.0   Valencia Basket     85.0
4    Sun Sep 24 2023                Joventut   79.0             Barça     95.0
..               ...                     ...    ...               ...      ...
304  Sun May 12 2024  Dreamland Gran Canaria   67.0   Covirán Granada     74.0
305  Sun May 12 2024             Río Breogán   61.0       UCAM Murcia     68.0
306  Sun May 12 2024                Joventut   71.0  Monbus Obradoiro     97.0
307  Sun May 12 2024                Baskonia  100.0       Real Madrid    106.0
308  Sun May 12 2024         Zunder Palencia   69.0           Unicaja     93.0

[309 rows x 5 columns]

## Weight the Data

In [26]:
acb["Weight"] = 0.5
euro["Weight"] = 1

## Merge the data

In [27]:
df = pd.concat([acb, euro])

df['Date'] = pd.to_datetime(df['Date'], format='%a %b %d %Y')
df = df.sort_values(by=['Date'])
df.reset_index(drop=True, inplace=True)

df

,Date,Team,PTS,Opp,PTS_Opp,Weight
0,2023-09-23,UCAM Murcia,104.0,Covirán Granada,101.0,0.5
1,2023-09-23,Zunder Palencia,64.0,Monbus Obradoiro,84.0,0.5
2,2023-09-23,Lenovo Tenerife,75.0,Unicaja,98.0,0.5
3,2023-09-23,Bàsquet Girona,89.0,Valencia Basket,85.0,0.5
4,2023-09-24,Joventut,79.0,Barça,95.0,0.5
...,...,...,...,...,...,...
401,2024-05-12,Baxi Manresa,80.0,Lenovo Tenerife,84.0,0.5
402,2024-05-12,Dreamland Gran Canaria,67.0,Covirán Granada,74.0,0.5
403,2024-05-12,Casademont Zaragoza,89.0,Bàsquet Girona,79.0,0.5
404,2024-05-12,Río Breogán,61.0,UCAM Murcia,68.0,0.5
405,2024-05-12,Valencia Basket,71.0,MoraBanc Andorra,99.0,0.5

## Save the Data

In [28]:
df.to_csv('ligaacb-eurocup-2324.csv', index=False)